th,td{
    border: 1px solid black;
    
}
tr th{
    background-color: rgb(64, 28, 161);
}


tr:nth-child(odd){
    background-color: rgb(97, 189, 176);
}
tr:nth-child(even){
    background-color: rgb(158, 103, 30);
}
header{
    width: 100%;
    background-color: antiquewhite;
    float: left;
}
section{
    width: 100%;
    background-color: burlywood;
    float: left;
}

li{
    display: inline;
}

li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: chocolate;
    border-radius: 5px;
    padding: 5px;
}
li a:hover{
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    opacity: 0.8;

}

form{
    text-align: center;
    padding: 20px;
}
input{
    margin: 5px;
}
