header{
    background-color: lightblue;
    
}
nav{
    background-color: lightgreen;
}
section{
    background-color: lightcoral;
}
article{
    background-color: lightgoldenrodyellow;
}
aside{
    background-color: lightgray;
}
footer{
    background-color: lightpink;
}
