*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 100px;
    background-color: lightblue;
    
}
#nav1{
    float: left;
    width: 50%;
    height: 100px;
    background-color: rgb(0, 134, 0);
}
#nav2{
    float: left;
    width: 50%;
    height: 100px;
    background-color: lightgreen;
}
main{
    float: left;
    height: 300px;
    width: 25%;
    background-color: lightcoral;
}
article{
    float: left;
    height: 300px;
    width: 50%;    
    background-color: lightgoldenrodyellow;
}
aside{
    float: left;
    height: 300px;
    width: 25%;
    background-color: lightgray;
}
footer{
    float: left;
    height: 100px;
    width: 100%;
    background-color: lightpink;
}

.samochod{
    width: 200px;      
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;   
}

.samochod:hover{
    width: 200px;      
    margin: 20px;
    margin-top: 12px;
    margin-left: 12px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;   
}

section{
    float: left;
    height: 100px;
    width: 100%;    
}

#id1{
    background-color: yellow;
}
#id2{
    background-color: orange;
}
#id3{
    background-color: red;
}

