*{
    float: none;
    width: 98%;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    align-self: start;

}

body{
   margin-top: 10px;
   margin-bottom: 10px;
   border: 1px solid black;
    height: auto;
}

header{
    width: 100%;
    height: 100px;
    background-color: lightblue;
    
}
#nav1{
    float: left;
    width: 50%;
    height: 100px;
    background-color: rgb(0, 134, 0);
}
#nav2{
    float: left;
    width: 50%;
    height: 100px;
    background-color: lightgreen;
}

div.srodek{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: lime;
}

main{
    margin: 0px;
    height: auto;
    float: left;
    width: 25%;
    background-color: lightcoral;
}
article{
    float: left;
    width: 50%;    
    background-color: lightgoldenrodyellow;
}
aside{
    float: left;
    width: 25%;
    background-color: lightgray;
}
footer{
    clear: both;
    height: 100px;
    width: 100%;
    background-color: lightpink;
}

.samochod{
    width: 200px;      
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;   
}

.samochod:hover{
    width: 200px;      
    margin: 20px;
    margin-top: 12px;
    margin-left: 12px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;   
}

section{
    float: left;
    height: 100px;
    width: 100%;    
}

.okno{
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;   
    width: 150px;
    height: 150px;
    background-image: url("sam.jpg");
    background-repeat: no-repeat;
}

.m{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: auto;
}