body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    background: #444;
    padding: 10px 0;
    justify-content: center;
   height: 80px;
}

nav .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 5px;
    padding: 0;
}
nav .nav-item a {
    color: white;
    border: #ffffff 2px solid;
    text-decoration: none;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 5px;
    color: #444;
    padding: 10px 15px;
    transition: all 0.3s ease;
    margin: 5px;
}

nav .nav-item a:hover {
    border: #ffffff 2px solid;
    background: #ffffff;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.box {
    flex: 1;
    background: #eee;
    padding: 30px;
    text-align: center;
}
img{
    width: 500px;
    height: auto;
    display: block;
}

.zdjecie{
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}




/* @media (max-width: 768px) {
    nav {
        height: auto;
    }

    nav .nav-list {
        flex-direction: column;   
        align-items: center;
        gap: 10px;
        margin: 10px;
    }

    nav .nav-item a {
        width: 100%;
        text-align: center;
        
        margin: 55px;
        font-size: 14px;
    }

    nav .nav-item{
        margin: 33px;
    }

    .container {
        flex-direction: column;
    }

    .box {
        background: #ddd;
    }
} */