input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    background-color: bisque;
    border: none;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
}


p{
    font-size: 50px;
    color:cadetblue;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    text-align: center;
    margin-top: 100px;
}